.clients {
    padding: 3.5rem 0;

    box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
    background-color: $white-color;

    border-top-left-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-left: 4rem;
    }
}