.container {
    $width: 1110px;
    $padding: 1rem;
    $max-width: calc($width + (2 * $padding));


    width: 100%;
    max-width: $max-width;

    margin: 0 auto;
    padding: 0 $padding;

    &--right,
    &--left {
        max-width: calc((100vw - $max-width) / 2 + $max-width - 1.5rem);
        padding: 0;

        .container {
            &__inner {
                width: 100%;
                max-width: $max-width;
                
                padding: 0 $padding;
            }
        }
    }

    &--right {
        margin: 0 0 0 auto;
    }

    &--left {
        margin: 0 auto 0 0;

        .container {
            &__inner {
                margin-left: auto;
            }
        }
    }
}