.intro {
    height: 100vh;

    color: white;

    background-size: cover;
    background-position: center;
    background-image: url('../img/intro/bg-intro.jpg');

    &__inner {
        display: flex;
        align-items: center;

        height: 100vh;
    }

    &__content {
        width: 50%;
    }

    &__subtitle {
        font-size: $font-size-xs;
        margin-bottom: 2.25rem;
    }

    &__title {
        color: white;
        margin-bottom: 2.25rem;
    }

    &__text {
        margin-bottom: 2.75rem;
    }

    @media screen and (max-width: $breakpoint-xl) { // < 1200px 
        &__content {    
            width: 65%;
        }
    }

    @media screen and (max-width: $breakpoint-sm) { // < 576px
        background-blend-mode: multiply;
        background-color: rgba($color: $black-color, $alpha: .6);

        &__content {   
            width: 100%;
            text-align: center;
        }
    }
}