.link {
    color: $secondary-color;
    font-weight: $bold-font-weight;

    &--yellow {
        color: $yellow-color;
    }

    &::before {
        content: '> ';
    }

    &:hover {
        color: $yellow-color;
    }
}