.page {
    &__header {
        z-index: 10;
    }

    &__aside {
        z-index: 15;
    }

    &__intro {
        z-index: 1;
    }

    &__clients {
        position: relative;
        z-index: 2;

        transform: translateY(-50%);
    }

    &__service {
        margin-bottom: 2rem;
    }

    &__projects {
        margin-bottom: 11.875rem;
    }

    @media screen and (max-width: $breakpoint-lg) { // < 992px
        &__clients {
            transform: translateY(0);
            margin-bottom: 9.375rem;
        }

        &__service {
            margin-bottom: 9.375rem;
        }
    }

    @media screen and (max-width: $breakpoint-sm) { // < 576px
        &__projects {
            margin-bottom: 6rem;
        }
    }
}