.page {
    &__header {
        margin-top: 1.5rem;
        z-index: 10;
    }

    &__intro {
        z-index: 1;
    }

    &__clients {
        position: relative;
        z-index: 2;

        transform: translateY(-50%);
    }

    &__service {
        margin-bottom: 2rem;
    }

    &__projects {
        margin-bottom: 11.875rem;
    }

    &__targets {
        margin-bottom: 9.375rem;
    }
}