.pre-footer {
    position: relative;

    transform: translateY(50%);

    background-color: #fafafa;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.15);

    &__inner {
        padding: 4.375rem 9rem 4.375rem 0;
    }

    &__title {
        margin-bottom: 3.125rem;
    }

    &__link {
        text-transform: uppercase;
    }

    @media screen and (max-width: $breakpoint-lg) { // < 992px
        &__inner {
            padding-right: 4.375rem;
        }
    }

    @media screen and (max-width: $breakpoint-sm) { // < 576px
        &__inner {
            padding-right: 0;
            text-align: center;
        }
    }
}