.projects {
    &__notation {
        margin-top: 9.375rem;
        margin-bottom: 6.875rem;
    }

    &__list {
        &-item {
            margin-bottom: 10.3125rem;
        }
    }

    @media screen and (max-width: $breakpoint-md) { // < 768px
        &__list {
            &-item {
                margin-bottom: 8rem;
            }
        }
    }
}