.social {
    display: flex;

    &__item {
        $item-size: 2.125rem;

        display: flex;
        align-items: center;
        justify-content: center;

        width: $item-size;
        height: $item-size;
        border-radius: calc($item-size / 2);

        margin-right: .75rem;

        color: #5e6648;
        background: #444a34;

        &:hover {
            color: $white-color;
            background: $yellow-color; 
        }
    }

    &__icon {
        height: auto;
        max-height: 1.2rem;
    }

    &__link {
        text-decoration: none;
    }
}