.title {
    color: $dark-color;
    font-weight: $bold-font-weight;

    &--h1 {
        font-size: $font-size-xl;
        line-height: $h1-line-height;
    }

    &--h2 {
        font-size: $font-size-lg;
        line-height: $h2-line-height;
    }

    &--h3 {
        font-size: $font-size-md;
        font-weight: $medium-font-weight;
        line-height: $h3-line-height;
    }
}