*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: $regular-font-size;
}

body {
    color: $primary-color;

    font-size: $font-size-sm;
    font-family: $font-family;
    font-weight: $regular-font-weight;

    line-height: $regular-line-height;
}