// FONT SIZES

$font-size-xs: 0.875rem;
$font-size-sm: 1rem;
$font-size-md: 1.5rem;
$font-size-lg: 2.25rem;
$font-size-xl: 3.35rem;


// FONT FAMILY

$font-family: 'Poppins', sans-serif;


// COLORS

$white-color: #fff;
$yellow-color: #ffd723;

$primary-color: rgba(33, 56, 66, 0.6);
$primary-dark-color: #152934;
$secondary-color: #d4d6d4;
$light-color: #b6c197;
$dark-color: #4d533c;