// FONT FAMILY

$font-family: 'Poppins', sans-serif;


// FONT SIZES

$regular-font-size: 16px;

$font-size-xs: 0.875rem;    // 14px
$font-size-sm: 1rem;        // 16px
$font-size-md: 1.5rem;      // 24px
$font-size-lg: 2.25rem;     // 36px
$font-size-xl: 3.35rem;     // 60px


// FONT WEIGHTS

$regular-font-weight: 400;
$medium-font-weight: 500;
$semi-bold-font-weight: 600;
$bold-font-weight: 700;


// LINE HEIGHTS

$regular-line-height: 160%;
$h1-line-height: 120%;
$h2-line-height: 130%;


// COLORS

$white-color: #fff;
$black-color: #000;
$yellow-color: #ffd723;

$primary-color: rgba(33, 56, 66, 0.6);
$primary-dark-color: #152934;
$secondary-color: #d4d6d4;
$light-color: #b6c197;
$dark-color: #4d533c;